<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @event.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @event.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @event.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @event.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @event.zip %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @event.organization %>
</p>

<div>
  <h2>Shifts</h2>
  <table>
    <% @event.shifts.each do |shift| %>
      <tr>
        <td>
          <%= link_to shift.title, my_organization_my_organization_event_shift_path(@event.organization, @event, shift) %>
        </td>
        <td>
          <%= shift.start_time %>
        </td>
        <td>
          <%= shift.end_time %>
        </td>
        <td>
          <%= shift.users.count %> / <%= shift.slots %>
        </td>
        <td>
          <% if user_signed_in? && current_user.shifts.include?(shift) %>
            <%= button_to 'Leave', volunteers_event_path(@event, shift_id: shift.id), method: :delete %>
          <% else %>
            <%= button_to 'Volunteer', volunteers_event_path(@event, shift_id: shift.id), method: :post %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<%= link_to 'Back', events_path %>
