<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @event.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @event.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @event.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @event.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @event.zip %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @event.organization %>
</p>

<div>
  <h2>Volunteers</h2>

  <% if @event.volunteers.any? %>
    <ul>
      <% @event.volunteers.each do |volunteer| %>
        <li>
          <%= volunteer.first_name %>
        </li>
      <% end %>
    </ul>
  <% else %>
    There are currently no volunteers. Be the first!
  <% end %>

  <%= button_to 'Volunteer', action: :volunteer, method: :post %>
</div>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
