<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @organization.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @organization.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @organization.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @organization.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @organization.zip %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @organization.phone_number %>
</p>

<div>
  <h2>Events</h2>
  <% @organization.events.each do |event| %>
    <%= link_to event.name, my_organization_my_organization_event_path(@organization, event) %>
  <% end %>
  <%= link_to 'Create Event', new_my_organization_my_organization_event_path(@organization) %>
</div>

<%= link_to 'Edit', edit_my_organization_path(@organization) %> |
<%= link_to 'Back', my_organizations_path %>
