<p>
  <h1><%= @organization.name %></h1>
</p>

<p class='address'>
  <%= full_address %>
</p>
<p class='address'>
  <%= city_state_zip %>
</p>

<p class='phone'>
  <%= @organization.phone_number %>
</p>

<div>
  <%= render partial: 'upcoming_events' %>
</div>
