<p>
  <span>
    <%= addressable.address1 %>
  </span>
  <span>
    <%= addressable.address2 %>
  </span>
</p>
<p>
  <span>
    <%= addressable.city %>,
  </span>
  <span>
    <%= addressable.state %>
  </span>
  <span>
    <%= addressable.zip %>
  </span>
</p>
