<!DOCTYPE html>
<html>
<head>
  <title>AnkleBracelets</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<%
 no_iframe = controller_name != 'sessions' && controller_name != 'registrations' && controller_name != 'passwords'
%>

<% if no_iframe %>
  <body class="show-bg page-<%=controller_name=%>">
<% else %>
  <body>
<% end %>

<%- if no_iframe %>
  <nav>
    <a href="/">Home</a>
    <%= link_to 'View All Organizations', organizations_path %>
    <% if user_signed_in? %>
      <%= link_to current_user.email, my_organizations_path %>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    <% else %>
      <a href="javascript:void(0)" data-toggle="modal" data-target="#login-modal">Login</a>
    <% end %>    
  </nav>
<% end -%>


<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: "alert alert-info" %>
<% end %>

  <p class="custom notice"><%= notice %></p>
  <p class="custom alert"><%= alert %></p>


<div class="<% if controller_name != 'home' %>page-container<% end %>">
  <%= yield %>
</div>

<div id="login-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title"></div>
        <button type="button" class="btn btn-default" data-dismiss="modal"> X </button>
      </div>
      <div class="modal-body">
        <div class="col login-images">
          <img class="img-circle" src="/assets/habitat-humanity-250.jpg">
          <img class="img-circle" src="/assets/red-cross-250.jpg">
          <img class="img-circle" src="/assets/trash-pick-up-250.jpg">          
        </div>
        <div class="col login-form">

          <iframe src="<%=new_user_session_path%>" class="modal-iframe"></iframe>
 
        </div>
      </div>
      <div class="modal-footer">
<!--           <button type="button" class="btn btn-primary">Log In</button>          
-->        </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>
